* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5% 3%;
  background-color: #fff;
  height: 85px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo img {
  max-width: 150px;
  object-fit: contain;
}

.nav-links a {
  color: #ff4c4c;
  font-weight: bold;
  margin: 0.5rem;
  text-decoration: none;
}

.contenedor_carrusel {
  width: 100%;
  max-width: 120em;
  margin: 0 auto;
  overflow: hidden;
}

.carrusel {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}

.carrusel img {
  width: calc(100% / 3);
  object-fit: cover;
}

.contenedor_nosotros {
  display: flex;
  height: 400px;
  margin-top: 50px;
}

.parrafo {
  width: 50%;
  padding: 2%;
}

.img_nosotros {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_nosotros img {
  width: 75%;
}

.contenedor_oferta {
  margin-top: 50px;
  padding: 1%;
}

.ofertas_titulo {
  text-align: center;
}

.ofertas {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.oferta {
  background-color: #dcdcdc;
  width: 31%;
  padding: 1%;
  text-align: center;
  border-radius: 8px;
}

.oferta img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.boton-vermas {
  background-color: #ff4c4c;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
}

.boton-vermas:hover {
  background-color: #ff1c1c;
}
